* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	margin: 0;
	font: {
		family: "Catamaran", Arial, "Helvetica Neue", Helvetica, sans-serif;
		size: 16px;
	}
	background-color: $grey-background;
	overflow-x: hidden;

	main {
		display: flex;
		justify-content: center;
		background-color: $grey-background;
	}
}