.hero { // <div>
	background: {
		repeat: no-repeat;
		size: cover;
		attachment: fixed;
		color: $grey-background;
	}
	display: flex;
	height: 100vh;

	.introduction { // <section>
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
		padding: {
			right: 20px;
			left: 20px;
		}

		@media #{$portrait} {
			@media #{$mq_w600_up} {
				padding: {
					right: 10%;
					left: 10%;
				}
			}
		}

		@media #{$landscape} {
			//column-gap: 300px;
		}

		&__container { // <div>
			display: flex;

			@media #{$portrait} {
				flex-direction: column;
				justify-content: space-evenly;
				max-width: 1080px;
			}

			@media #{$landscape} {
				justify-content: space-evenly;
			}
		}

		&__logo-link { // <a>
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			display: flex;
			align-self: center;
			align-items: center;
			transform: rotate(45deg);
		}

		&__logo-container { // <h1>
			background-color: $white;
			margin: {
				top: 0;
				bottom: 0;
			}
			transform: rotate(0deg);
			display: flex;
			align-self: center;
			align-items: center;
			animation: {
				name: pulse;
				duration: 2s;
				iteration-count: 1;
				delay: 3.75s;
			}
			z-index: 0;

			@media #{$portrait} {
				width: 110px;
				height: 110px;

				@media #{$mq_w400_up} {
					width: 140px;
					height: 140px;
				}

				@media #{$mq_w500_up} {
					width: 160px;
					height: 160px;
				}

				@media #{$mq_w600_up} {
					width: 180px;
					height: 180px;
				}

				@media #{$mq_w700_up} {
					width: 200px;
					height: 200px;
				}

				@media #{$mq_w800_up} {
					width: 220px;
					height: 220px;
				}

				@media #{$mq_w900_up} {
					width: 250px;
					height: 250px;
				}

				@media #{$mq_w1000_up} {
					width: 270px;
					height: 270px;
				}
			}

			@media #{$landscape} {
				width: 100px;
				height: 100px;

				@media #{$mq_h400_up} {
					width: 120px;
					height: 120px;
				}

				@media #{$mq_h500_up} {
					width: 140px;
					height: 140px;
				}

				@media #{$mq_h600_up} {
					width: 170px;
					height: 170px;
				}

				@media #{$mq_h700_up} {
					width: 190px;
					height: 190px;
				}

				@media #{$mq_h800_up} {
					width: 220px;
					height: 220px;
				}

				@media #{$mq_h900_up} {
					width: 260px;
					height: 260px;
				}

				@media #{$mq_h1000_up} {
					width: 280px;
					height: 280px;
				}
			}
		}

		&__logo-image { // <img>
			vertical-align: middle;
			width: 100%;
			transform: rotate(-45deg);
		}

		&__description {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			@media #{$portrait} {
				row-gap: 20px;

				@media #{$mq_w500_up} {
					row-gap: 50px;
				}

				@media #{$mq_w700_up} {
					row-gap: 70px;
				}

				@media #{$mq_w900_up} {
					row-gap: 100px;
				}
			}

			@media #{$landscape} {
				width: 45%;
				text-align: end;

				@media #{$mq_h800_up} {
					width: 40%;
				}
			}

			h2 {
				margin: 0;
				color: $white;
				font-weight: 100;
				z-index: 1;

				strong {
					font-weight: 900;
					text-transform: uppercase;
				}

				&:first-of-type { // <h2>
					@media #{$portrait} {
						font-size: 18px;
						line-height: 22px;
						text-align: initial;

						@media #{$mq_w400_up} {
							font-size: 20px;
							line-height: 24px;
						}

						@media #{$mq_w500_up} {
							width: 75%;
							font-size: 22px;
							line-height: 26px;
						}

						@media #{$mq_w600_up} {
							font-size: 24px;
							line-height: 28px;
						}

						@media #{$mq_w700_up} {
							font-size: 26px;
							line-height: 30px;
						}

						@media #{$mq_w800_up} {
							font-size: 28px;
							line-height: 32px;
						}

						@media #{$mq_w900_up} {
							font-size: 30px;
							line-height: 34px;
						}

						@media #{$mq_w1000_up} {
							font-size: 32px;
							line-height: 36px;
						}
					}

					@media #{$landscape} {
						font-size: 18px;
						line-height: 22px;

						@media #{$mq_h400_up} {
							font-size: 20px;
							line-height: 30px;
						}

						@media #{$mq_h500_up} {
							font-size: 24px;
							line-height: 34px;
						}

						@media #{$mq_h600_up} {
							font-size: 26px;
							line-height: 36px;
						}

						@media #{$mq_h700_up} {
							font-size: 30px;
							line-height: 40px;
						}

						@media #{$mq_h800_up} {
							font-size: 32px;
							line-height: 42px;
						}

						@media #{$mq_h900_up} {
							font-size: 44px;
							line-height: 54px;
						}

						@media #{$mq_h1000_up} {
							font-size: 46px;
							line-height: 56px;
						}
					}
				}

				&:last-of-type { // <h2>
					@media #{$portrait} {
						text-align: end;
						font-size: 20px;
						line-height: 26px;

						@media #{$mq_w400_up} {
							font-size: 24px;
							line-height: 30px;
						}

						@media #{$mq_w500_up} {
							font-size: 28px;
							line-height: 34px;
						}

						@media #{$mq_w600_up} {
							font-size: 32px;
							line-height: 38px;
						}

						@media #{$mq_w700_up} {
							font-size: 36px;
							line-height: 42px;
						}

						@media #{$mq_w800_up} {
							font-size: 40px;
							line-height: 46px;
						}

						@media #{$mq_w900_up} {
							font-size: 44px;
							line-height: 50px;
						}

						@media #{$mq_w1000_up} {
							font-size: 48px;
							line-height: 54px;
						}
					}

					@media #{$landscape} {
						font-size: 22px;
						line-height: 26px;

						@media #{$mq_h400_up} {
							font-size: 24px;
							line-height: 34px;
						}

						@media #{$mq_h500_up} {
							font-size: 30px;
							line-height: 40px;
						}

						@media #{$mq_h600_up} {
							font-size: 34px;
							line-height: 44px;
						}

						@media #{$mq_h700_up} {
							font-size: 38px;
							line-height: 48px;
						}

						@media #{$mq_h800_up} {
							font-size: 42px;
							line-height: 52px;
						}

						@media #{$mq_h900_up} {
							font-size: 54px;
							line-height: 64px;
						}

						@media #{$mq_h1000_up} {
							font-size: 56px;
							line-height: 66px;
						}
					}
				}
			}
		}
	}

	.gradient { // <section>
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
	}
}